/* Cursor.css */
.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    mix-blend-mode: normal;
    pointer-events: none;
    z-index: 9999;
    animation: glow 1.5s ease-in-out infinite;
    cursor: none;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 40px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
    }
    50% {
      box-shadow: 0 0 40px #ffffff, 0 0 30px #ffffff, 0 0 50px #ffffff;
    }
    100% {
      box-shadow: 0 0 4px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
    }
  }
